@import '../../styles/abstracts/controls';
.mainFooter {
  flex: 0 1 auto;
  width: 100%;
  z-index: 100;
  border-top: solid 1px theme-colors('primary', 'base', 0.07);
  @extend .flex-column;
  .footersInner {
    padding: 1.5rem;
    @extend .flex-column;
    &__list {
      flex: 1 1 auto;
      @extend .flexbox;
      @extend .item-center;
      @extend .justify-between;
    }
  }
}
